VITE_APP_ENV=development
VITE_LOCAL_MODE=true
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_REDIRECT_URL=http://localhost:5173
VITE_RAZORPAY_KEY=
VITE_OPENROUTER_API_KEY=
VITE_OPENROUTER_MODEL=google/gemini-2.0-flash-lite-001
VITE_OPENROUTER_REFERER=https://smilefotilo.com
VITE_OPENROUTER_TITLE=Takhti App
